/**{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 57px;
text-align: center;
}
.divider{
    position: absolute;
width: 70%;
height: 100%;
left: 30%;
top: 0px;

background: linear-gradient(299.45deg, #887A92 6.39%, rgba(151, 135, 163, 0.98) 78.96%);
border-radius: 14px;

}

.imgside{
    background-image: url(nrr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  
    position: absolute;
width: 460px;
height: 600px;
left: 20%;
top: 10%;

filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.25));

}

.imgside h1{
 
align-items: center;
justify-content: center;
    
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 50px;
text-align: center;

color: #FFFFFF;
}
.mainside{
   
    justify-content: space-between;
    position: absolute;
width: 756px;
height: 600px;
left: 46%;
top: 10%;

background: #F0F0F0;
box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
border-radius: 14px;

}
.mainside h1{
    
align-items: center;
justify-content: baseline;


font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 63px;
text-align: center;

color: #000000;
}
.btons{
    position: absolute;
    top:200px;
    left:20%;
    width: 400px;
    height: auto;
    border:1px solid black;
    
}
.btn{
    
width: 400px;
height: 60px;
background: #58A5FF;
border: 1px solid #686868;
border-radius: 12px;
}

section{
    background-color:#887A92 ;
    width:100%;
    max-width:100vh;
    <button class="btn btn-primary"><a href="update.php?updateid='. $usn .'" class="text-light" >Update</a></button>
    
   
}*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-image:url("../css/mini.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.login-box {
  max-width: 800px;
  float: none;
  margin: 150px auto;
  
}
.login-left {
  background-color: #7e7286;
  padding: 30px;
  color: white;
  float: left;
  box-shadow: 0px 0px 61px 7px #181c1f40;
}
.login-right {
  background-color: #c1b0c2;
  padding: 30px;
  box-shadow: 0px 0px 61px 7px #181c1f40;
}
.form-control {
  background-color: transparent;
}
a {
  color: black;
  margin-top: -200px;
}
h1 {
  color: black;
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 63px;
}

